/*  your css code here. If applicable */

body{
	
	display:grid;
	grid-template-rows:repeat(5,1fr);
	grid-template-columns:repeat(4,1fr);
	color:white;
	font-size:4vw;
	
	
}
.box{
	background-color:green;
	margin:1px;
}
.first{
	grid-column:1/5;
}
.sec{
	grid-row:2/6;
}
.fourth{
	grid-column:3/5;
}
.fifth{
	grid-column:2/4;
}
.ten{
	grid-column:2/5;
	grid-row:5/6;
}