/*  your css code here. If applicable */
.*{
	margin:0;

	box-sizing:border-box;
}

.container{
	
	display:grid;
	height:500px;
	width:600px;
	grid-template-rows:repeat(5,1fr);
	grid-template-columns:repeat(4,1fr);
	color:white;
	font-size:4vw;
	gap:10px;
	
}
.box{
	background-color:green;
	padding:10px;
}
.first{
	grid-column:1/5;
}
.sec{
	grid-row:2/6;
}
.fourth{
	grid-column:3/5;
}
.fifth{
	grid-column:2/4;
}
.ten{
	grid-column:2/5;
	grid-row:5/6;
}