/*  your css code here. If applicable */

#grid{
	display:grid;
	height:100vh;
	grid-template-rows:repeat(5,1fr);
	grid-template-columns:repeat(4,1fr);
	grid-template-areas:"first first first first"
	                     "sec third fourth fourth"
	                      "sec fifth fifth sixth"
	                       "sec seventh eight nine"	
	                        "sec ten ten ten";
	color:white;
	font-size:4vw;
	
	
}
.auto{
	background-color:green;
	
}
.first{
   grid-area:first;
	/* grid-column:1/5; */
}
.sec{
	grid-area:sec;
	
	/* grid-row:2/6; */
}
.fourth{
	grid-area:fourth;
	/* grid-column:3/5; */
}
.fifth{
	grid-area:fifth;
	/* grid-column:2/4; */
}
.ten{
	grid-area:ten;
	/* grid-column:2/5;
	grid-row:5/6; */
}